doctype html
html
  head
    title Who's Talkin'?
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action='./', method='get')
      #banner
        .left
          #logo url:
        .right
          input(type='text', name='q', id='query', value='#{site}')
    #chart
    #spinner
    script(src='/javascripts/d3.v2.js')
    script(src='/javascripts/spin.min.js')
    script(src='/javascripts/amplify.js')
